<p id="notice"><%= notice %></p>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    body{
      background-image: url(/assets/most_expensive_players.png);
      background-repeat: no-repeat;
      background-size: 100%;

    }
    h1 {
      color: maroon;
    }
  </style>
</head>
<body>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
</div>
</nav>
<div class="container">
  <h1><img src=/assets/32.png height="100px">Serie A 2015/16</h1>
  <tbody>
  <%=  %>
  </tbody>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.key %></td>
        <td><%= team.name %></td>
        <td><%= team.code %></td>
        <td><%= link_to 'Show', team %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</body>
